@media (max-width:900px) {
    .footer_svg {
        bottom: 160px;
    }

    footer {
        margin-top: 80px;
    }
}

@media (max-width:600px) {
    .footer_svg {
        bottom: 190px;
    }
}



@media (max-width:700px) {
    .section_ul {
        /* border: 1PX SOLID black; */
        width: 100%;
    }

    .section_ul .section_li a {
        width: 70px;
        height: 70px;
        font-size: 1.7em;
    }
}

@media (max-width:520px) {
    .section_ul .section_li a {
        width: 70px;
        height: 70px;
        margin: 10px;
    }

    footer {
        margin-top: 10px;
    }
}

@media (max-width:400px) {
    .section_ul .section_li a {
        width: 65px;
        height: 65px;
        font-size: 1.6em;
        margin: 7px;
    }
}



/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
    .sub-heading {
        font-size: .75rem;
    }

    .heading {
        font-size: 2rem;
    }

    .showcase-area .heading {
        font-size: 2.7rem;
    }

    .text {
        font-size: 0.84rem;
        margin: 1.3rem 0;
    }

    .btn {
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        min-width: 100px;
        border-radius: 15px;
    }

    .btn.secondary-btn {
        font-size: 0.85rem;
    }

    .form-input {
        padding: .8rem 1.45rem;
        border-radius: 15px;
        font-size: 0.8rem;
    }

    .logo {
        font-size: 1.45rem;
    }

    header .logo {
        height: 100px;
        line-height: 100px;
    }

    .nav-link {
        font-size: 0.7rem;

    }

    .showcase-area {
        padding: 100px 0;
    }

    .showcase-area .container {
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .skills-box {
        padding: 4rem;
    }

    .sk-progress {
        transform: scale(0.85);
    }

    .services .container {
        column-gap: 2.5rem;
    }

    .contact .container {
        column-gap: 2.5rem;
    }

    .contact-form {
        padding: 2.5rem 2rem;
    }

    .contact-form h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .contact .form-input {
        margin-bottom: 0.8rem;
    }

    .filter-btn {
        font-size: 0.7rem;
    }

}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {

    .cursor-1,
    .cursor-2 {
        display: none;
    }

    :root {
        --section-padding: 4.5rem;
    }

    .triangle {
        width: 70px;
    }

    .dots {
        width: 65px;
    }

    .square {
        width: 55px;
    }

    .hamburger {
        display: block;
        /* background-color: black; */
    }



    .links {
        order: 3;
        flex-basis: 100%;
        /*width ==> 100%*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        opacity: 0;
        transition: .3s;
    }

    header nav {
        justify-content: space-between;
    }

    .links ul {
        position: relative;
        flex-direction: column;
    }

    .nav-link {
        margin: 1.5rem 0;
        color: var(--heading-color);
        font-weight: 500;
    }

    .toggle-btn {
        margin: 0;
    }

    .links ul::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        top: 0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
        backdrop-filter: blur(5px);
    }


    header {
        height: 505px;
        max-height: 100px;
        overflow: hidden;
    }

    header.scrolled {
        height: 548505px;
        max-height: 80px;
    }


    body.open header {
        max-height: 505px;
        background-color: var(--bg-color-2);
    }

    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    body.open .links ul::after {
        opacity: .7;
        width: 100%;
    }

    body.open header.scrolled {
        max-height: 485px;
    }

    body.open .links {
        opacity: 1;
    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;

    }

    .showcase-image {
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        max-width: 450px;
        margin-top: 30px;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .showcase-info {
        width: 100%;
        margin-top: 1rem;
    }

    .showcase-area .text {
        margin: 0.2rem 0;
    }

    .cta {
        margin-top: 1rem;
    }

    .showcase-area .circle {
        width: 120px;
    }

    .showcase-area .square {
        left: 80%;
        top: 20%;
    }

    .about .container {
        grid-template-columns: 1fr;
    }

    .about-grid {
        order: 3;
    }

    .heading br {
        display: none;
    }

    .about .text {
        margin: 1rem 0 1.5rem;
    }

    .about-grid {
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        margin: 2.5rem 0 0 0;
        column-gap: 2rem;
        row-gap: 80px;
    }

    .icon {
        width: 50px;
    }

    .about-card h3 {
        font-size: .8rem;
        margin-top: 0.5rem;
    }

    .about-grid::before {
        width: 150px;
        height: 150px;
        border-width: 10px;
    }

    .box-desc {
        grid-template-columns: 1fr;
        justify-content: flex-start;
    }

    .skills-wrap {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
    }

    .sk-title {
        margin-top: 0;
    }

    .services .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .services .text {
        margin: 1.5rem 0 0.5rem;
    }

    .services-grid {
        margin-top: 3.5rem;
        column-gap: 1.5rem;
        row-gap: 3.5rem;
    }

    .srv-card {
        padding: 1.8rem 1.7rem;
        min-height: 260px;
    }

    .srv-card {
        font-size: 0.9rem;
    }

    .srv-card .text {
        margin: 0.4rem 0 0.8rem;
    }

    .portfolio-title {
        padding-bottom: 0;
    }

    .testimonials {
        padding: var(--section-padding) 0;
    }

    .testimonials .container {
        position: revert;
        grid-template-columns: 1fr;
        max-width: 620px;
    }

    .section-background {
        transform: translateX(0);
        left: 0;
        border-radius: 0;
        top: 0;
        height: 100%;
        background-image: linear-gradient(45deg,
                var(--main-color-2) 17%,
                var(--main-color-1) 17%);
    }

    .section-background .person,
    .section-background .circle {
        display: none;
    }

    .swiper {
        order: 2;
        padding: 2rem 0;
    }

    .testimonials-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 3rem 0;
    }

    .swiper-slide {
        padding: 0 2rem;
    }

    .swiper-slide .text {
        margin: 1rem 0 0;
    }

    .swiper-pagination {
        margin-top: 3rem;
    }

    .client {
        grid-template-columns: 65px 1fr;
    }

    .client-info h4 {
        margin-bottom: .2rem;
        font-size: 0.97rem;
    }

    .client-info h5 {
        font-size: 0.7rem;
    }

    .section-background .square {
        left: 86%;
        top: 12%;
        width: 60px;
    }

    .contact .container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact .square {
        width: 60px;
        bottom: 68%;
        left: 75%;
    }

    .contact .triangle {
        left: 20%;
        top: 101%;
    }


}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
    .container {
        padding: 0 1rem;
    }

    .showcase-area .square {
        display: none;
    }

    .showcase-area .container {
        row-gap: 4.5rem;
    }

    .showcase-area .heading {
        font-size: 2.4rem;
    }

    .skills-box {
        padding: 3rem 2.5rem;
    }

    .skills-wrap {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .services-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .srv-card {
        transform: none !important;
        min-height: auto;
    }

    .portfolio-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfolio-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter-btn {
        margin-top: 1rem;
    }

    .portfolio .slider-wrap {
        width: calc(100% - 2rem);
        grid-template-columns: 50px 1fr 50px;

    }

    .images {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .prev-btn {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        color: #333;
    }

    .next-btn {
        grid-column: 3/4;
        grid-row: 1/2;
        z-index: 1;
        color: #333;
    }

    .contact-form p {
        font-size: 1.2rem;
    }

    footer {
        padding: var(--section-padding) 0 1rem;
    }

    footer .text {
        order: 3;
        flex-basis: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .showcase-image .person {
        position: absolute;
        width: 75%;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2rem 2rem .3rem .3rem;

        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
        border-top: 1rem solid var(--main-color-1);
        border-right: 1rem solid var(--main-color-1);
        border-bottom: 1rem solid var(--main-color-2);
        border-left: 1rem solid var(--main-color-2);
    }
}